/* Regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fine regole generali */

/* regole del campo */

#campoFiorito {
  width: 400px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

#campoFiorito > div {
  width: 10%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* regole delle celle */

#campoFiorito > div {
  font-size: 35px;
  font-weight: bolder;
}

.numero {
  color: black;
}

.numero0 {
  color: blue;
}

.numero1 {
  color: green;
}

.numero2 {
 color: red;
}

.numero3 {
 color: yellow;
}

.numero4 {
 color: purple;
}

.oscurata {
  background-color: grey;
}

.scoperta {
  background-color: lightgrey;
}

/* elementi dentro le celle */

.elementoInvisibile {
  display: none;
}

.elementoVisibile {
  display: block;
}
