/* Regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fine regole generali */


/* titolo */
.title {
  text-align: center;
  margin: 20px 0;
  font-family: 'IBM Plex Mono', monospace;
}

.github {
  display: inline-block;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.github:hover {
  color: white;
  background-color: darkgrey;
}

.github i{
  padding: 5px;
}

/* regole del campo */

main {
  position: relative;
}

#campoFiorito {
  width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#campoFiorito > div {
  width: 10%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.haiPerso {
  filter: brightness(0.20);
}

.haiVinto {
  filter: brightness(0.20);
}

#messaggioPerso {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: red;
  font-size: 30px;
  text-transform: uppercase;
}

#messaggioVinto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: green;
  font-size: 30px;
  text-transform: uppercase;
}
/* regole delle celle */

#campoFiorito > div {
  font-size: 35px;
  font-weight: bolder;
}

#campoFiorito > div:hover{
  filter: brightness(0.80);
}

.numero {
  color: black;
}

.numero0 {
  color: blue;
}

.numero1 {
  color: green;
}

.numero2 {
 color: red;
}

.numero3 {
 color: yellow;
}

.numero4 {
 color: purple;
}

.oscurata {
  background-color: grey;
}

.scoperta {
  background-color: lightgrey;
}

.bandierina {
  background-image: url(../img/bandierina.png);
  background-size: contain;
}

/* elementi dentro le celle */

.elementoInvisibile {
  display: none;
}

.elementoVisibile {
  display: block;
}
